nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

.form-control:focus 
{
    border-color: rgb(54,57,59);
    box-shadow: 0 0 0 0.2rem rgba(54, 57, 59, 0.7);
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

#box
{
  border-radius: 0.3rem;
  border: 1px solid rgb(117, 117, 117 ,0.5);
  width: 300px;
  height: 500px;
  margin: auto;
  padding: 20px;
  background-color:rgb(227, 242, 253 ,0.4) ;
}

#in
{
  width: 198px;
  margin: 5px;
  padding: .375rem .75rem;
  height: 45px;
}
.task
{
  color: rgb(75, 75, 75);
  margin: auto !important;
  width: 400px;
  height: 100%;
  margin: auto;
  padding: 20px;
  background-color:rgb(227, 242, 253 ,0.4) ;
}
body 
{
    width:100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-color:rgb(197, 221, 238);
}

.ph
{
    font-size: 38px;
    font-weight: 100px !important ;
    
}

#t , .in
{
   line-height:3;
    width: 25%;

}
h2
{
  color:rgb(70, 70, 70,0.7);
  font-size: 30px;
}

.index 
{
  color: rgb(70, 70, 70,0.7);
  margin-bottom: 1rem;
  padding: 1rem ;
  text-align: center;
}

h1
{
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
}

#div_index{
  margin-top: 40px !important;
  height: 200px;
  text-align: center !important;
  margin: auto;
  font-size: 40px;
  font-weight:lighter;
}

input[type="text"]:hover, input[type="number"]:hover , input[type="month"]:hover
{
  background-color:#f2f2f2 ;
  transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.jumbotron
{
   color: rgb(37, 37, 37,0.7);
   background-color: rgb(170, 207, 233,0.7);
   font-size: 30px;
   margin: 5px;
   padding: 40px;
   font-family:Arial, Helvetica, sans-serif;
   text-align: left !important;
}

.w3-animate-left
{
   animation-duration: 4s !important;
}
.w3-animate-fading
{
   animation-duration: 6s !important;
   animation-iteration-count: 3 !important;

}
table {
  background-color: transparent;
  margin-bottom: 1rem;
  width: 100%;

}

table th,
table td {
  padding: 0.75rem;
  vertical-align: middle;
}
table:hover{background-color: #a5cceb;;
  opacity:0.82;

}


tbody tr:nth-of-type(odd) {
  background-color: rgb(179, 208, 255, 0.3)
}

#a1:hover, #planner:hover
{
    border-bottom: 2px solid rgb(0,0,0,0.6);
}

select
{
    margin-left: 18px !important; 
}


.contact
{
    padding-top: 4px;
    text-align:left !important;
    border-radius: 0.3rem;
    width: 700px;
    height: 100%;  
    padding: 40px;
    color: rgb(75, 75, 75);
    background-color:#b1cfe7 ;
    border: 1px solid  #a5cceb;
    margin: auto;
}

@media(min-width: 300px)
{
.div1
  {
    max-width: 100%;
  }
}

.i_b
{
  margin-top:6px !important;
  font-size: 20px;
  background-color:rgb(43, 43, 43);
  animation: transition 5s infinite;
}

@keyframes transition 
{
    from 
    {
      background-color: rgb(43, 43, 43);
    }
    to 
    {
      background-color: rgb(129, 189, 231);
    }
}

.b , .i_b , .b2
{
   color:white;
   padding: 3px 25px;
   border-radius: 8px;
   background-color: rgb(43, 43, 43);
}
.b:hover ,.b2:hover
{
   color:white;
   background-color: rgb(129, 189, 231)
}
.b2 {
  font-size:20px !important;
}
.center 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 25px;
    margin-top: 0px !important;
}

.d_a
{
   width: 450px !important;
   height: 160px !important;
   z-index: 1000;
   margin-left:10px;
   font-size:larger;
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-weight:700;
   text-shadow: 1px 1px rgba(13, 17, 20, 0.5);
}

.home
{
    max-width: 1080px;
    margin-top: 100px !important;
    font-weight:150;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 47px;
    text-align: center;
}

.d_a,.home
  { 
    overflow: hidden;
    background: linear-gradient(90deg, #000, rgb(69, 142, 202), #000);
    letter-spacing: 3px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    animation: shine 20s 70ms linear infinite;
    position: relative;
    background-size: 80%;
  }
  
@keyframes shine 
{
  0%
   {
    background-position-x: -300%;
   }
  100%
   {
    background-position-x: 300%;
   }
}

#planner
{
   color:rgb(0,0,0,0.5) ;
   font-weight: bold;
   letter-spacing: 3px;
}
#planner:hover
{
   font-size: large;
}


.btn1:hover,.btn2:hover
{
  font-size: 15px;
}

.btn2:hover
{
  color:red
}

.btn1:hover
{
  color:#1a75ff
}

.btn1,.btn2 
{
  text-decoration: none;
  background-color:#d9edff;
  color:black;
  padding: 2px 6px 2px 6px;
  border-top: 1px  ;
  border-right: 1px  ;
  border-bottom: 1px  ;
  border-left: 1px ;
}