{% extends "layout.html" %}
{% block title %}
Task
{% endblock %}
{% block main %}
<h2>Add a Task</h2>
<div class="task">
    <div class="section">
        <!-- TODO: Create a form for users to submit TASK -->
        <div class="form-group, mt-4 mb-3">
            <form action="/task" method="Post">
                <div class="pt-3">
                    <input autocomplete="off" autofocus class="form-control" autofocus name="sub" placeholder="Subject"
                        type="text">
                </div>
                <div class="pt-3"><input autocomplete="off" autofocus class="form-control" autofocus name="task"
                        placeholder="Task" type="text">
                </div>

                <div class="pt-3"><input autocomplete="off" autofocus class="form-control" autofocus name="day"
                        placeholder="Day" type="text"></div>
                <div class="pt-3">
                    <select name="priority" class="form-control">
                        <option style="color:#212529" disabled selected value>Priority of the task</option>
                        <option value='High'>High</option>
                        <option value='Medium'>Medium</option>
                        <option value='Normal'>Normal</option>
                    </select>

                </div>
                <div class="pt-3"><input autocomplete="off" autofocus class="form-control" autofocus name="date"
                        placeholder="Date" max="31" min="1" type="number">
                </div>
                <div class="pt-3">
                    <input autocomplete="off" autofocus class="form-control" autofocus name="month" placeholder="Month"
                        type="month">
                </div>

                <input type="submit" class="btn btn-dark  m-4" value="Add TASK">
            </form>
        </div>
    </div>
</div>
{% endblock %}